<h2 class="title is-2">Settings</h2>

<div class="relative">

  <div class="box settings-session-types">

    <h3 class="title is-3">Session types</h3>

    <div *ngFor="let type of sessionTypes ; let i = index">
      <session-type-form [(sessionType)]="sessionTypes[i]"></session-type-form>
    </div>

    <button class="button is-primary" type="button" (click)="addType()">
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
    </button>

  </div>

  <button class="button is-primary" type="button" (click)="saveConfig()">
    <span class="icon">
      <i class="fa fa-floppy-o"></i>
    </span>
    <span>Save configuration</span>
  </button>

  <overlay-loader *ngIf="savingConfiguration"></overlay-loader>

</div>
