<div class="content">
  <h1>{{category}} leaderboard</h1>
</div>

<div class="" *ngIf="standings.length == 0">
  No results yet.
</div>

<table class="table is-narrow is-striped" *ngIf="standings.length > 0">
  <thead>
    <tr>
      <th>Position</th>
      <th>Driver</th>
      <th>Team</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let st of standings">
      <td>{{st.position}}</td>
      <td><span class="tag is-info">{{st.driver.category}}</span> {{st.driver.name}}</td>
      <td>{{st.driver.team.name}}</td>
      <td>{{st.points}}</td>
    </tr>
  </tbody>
</table>
