<div class="columns">
  <div class="column is-6">
    <div class="field">
      <div class="control">
        <input class="input"
        [(ngModel)]="searchString"
        (ngModelChange)="filterTeams()"
        name="search"
        ngControl="search"
        #search="ngModel" type="text" placeholder="Search team">
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input
        [(ngModel)]="newTeamName"
        name="search"
        ngControl="search"
        #search="ngModel" class="input" type="text" placeholder="New team name">
      </p>
      <p class="control">
        <a class="button is-info" (click)="addTeam()">
          Add team
        </a>
      </p>
    </div>
  </div>
</div>


<table class="table is-narrow is-striped" *ngIf="teams.length > 0">
  <thead>
    <tr>
      <th>Team name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of filteredTeams">
      <td>{{t.name}}</td>
    </tr>
  </tbody>
</table>
