<div class="field">
  <div class="control">
    <input class="input"
    [(ngModel)]="searchString"
    (ngModelChange)="filterDrivers()"
    name="search"
    ngControl="search"
    #search="ngModel" type="text" placeholder="Search driver">
  </div>
</div>

<table class="table is-narrow is-striped" *ngIf="drivers.length > 0">
  <thead>
    <tr>
      <th>Driver</th>
      <th>Category</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dr of filteredDrivers">
      <td>{{dr.name}}</td>
      <td>
        <div class="select">
          <select [(ngModel)]="dr.category"
                  (ngModelChange)="updateDriver(dr)">
            <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
          </select>
        </div>
      </td>
      <td>
        <div class="select">
          <select [compareWith]="driverHasTeam"
                  [(ngModel)]="dr.team"
                  (ngModelChange)="updateDriver(dr)">
            <option *ngFor="let t of teams" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </td>
    </tr>
  </tbody>
</table>
